.top1 {
    font-size: 100px;
    text-align: center;
    font-family: Apple Chancery;
    display: flex;
    justify-content: space-around;

}

.top2 {
    font-size: 25px;
    text-align: center;
    font-family: Bradley Hand, cursive;
}